<!-- movie-details.component.html -->
<div class="container">
  <div class="row mt-3">
    <div class="col-1">
      <button class="btn btn-dark" (click)="back()"><i class="bi bi-house-door"></i></button>
    </div>
    <div class="col-11">
      <h2>{{ movie?.title }}</h2>
    </div>
  </div>

  <div class="row mt-3 image-container">
    <div class="col-md-6 col-12">
      <img class="img-fluid" [src]="movie?.poster" alt="{{ movie?.title }} Poster" />
    </div>
    <div class="col-md-6 col-15 d-flex align-items-center">
      <p class="lead">{{ movie?.summary }}</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 text-center">
      <h3>Details</h3>
    </div>
  </div>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Box Office</th>
        <td>{{ movie?.box_office | budget }}</td>
      </tr>
      <tr>
        <th scope="row">Budget</th>
        <td>{{ movie?.budget | budget }}</td>
      </tr>
      <tr>
        <th scope="row">Duration</th>
        <td>{{ movie?.duration | duration }}</td>
      </tr>
      <tr>
        <th scope="row">Producers</th>
        <td>{{ movie?.producers?.join(', ') }}</td>
      </tr>
      <tr>
        <th scope="row">Cinematographers</th>
        <td>{{ movie?.cinematographers?.join(', ') }}</td>
      </tr>
      
    </tbody>
  </table>

</div>
